@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

body {
    background-color: rgb(193, 255, 255);
}
  
* {
    box-sizing: border-box;
}
  
.app {
}

.wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0 auto;
    max-width: 768px;
    width: 100%;
    padding: 20px;
}

/* width */
html::-webkit-scrollbar {
    width: 8px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: rgb(87, 159, 159);
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(18, 67, 67);
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(45, 66, 66);
}