.form {
    max-width: 420px;
    margin: 0 auto;
}

.form__title {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(14, 71, 71);
    text-align: center;
    margin: 0;
    padding: 0;
}

.form__input {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 420px;
}

.form__input-email {
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(14, 71, 71);
}

.form__input-number {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(14, 71, 71);
}

.form__input-message-email {
    margin-top: 5px;
    color: rgb(198, 0, 0);
    min-height: 17px;
}

.form__input-message-number {
    margin-top: 5px;
    color: rgb(198, 0, 0);
    min-height: 17px;
}

.form__button {
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(24, 94, 94);
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    display: block;
    margin-left: auto;
}